@media (max-width: 1280px) {
  div.nav ul {
    width:750px;
  }
  div.nav ul li {
    width:150px;
  }
  div.section div.box {
    float:none;
    width:600px;
    margin:0 auto 20px auto;
  }
  div.project {
    width:100%;
    margin:0 auto 0 auto;
  }
}

@media (max-width: 877px) {
  div.nav {
    position:static;
  }
  div.nav ul {
    padding:0;
    width:100% !important;
  }
  div.nav ul li {
    float:none;
    width:100%;
  }
  div.center {
    width:400px !important;
  }
}