@media (max-width: 1024px) {
  div.nav ul li a {
    background-color:#111 !important;
  }
  div.section div.box {
    float:none;
    width:600px;
    margin:0 auto 20px auto;
  }
  div.project {
    width:100%;
    margin:0 auto 0 auto;
  }
}