@font-face { font-family: linowrite; src: url(../font/linowrite.ttf); }
@font-face { font-family: angrybirds; src: url(../font/angrybirds-regular.ttf); }
@font-face { font-family: brainflower; src: url(../font/BrainFlowerEuro.ttf); }
@font-face { font-family: lazysunday; src: url(../font/lazy_sunday_regular.ttf); }
@font-face { font-family: ponymaker; src: url(../font/PonyMaker.ttf); }
@font-face { font-family: impactlabel; src: url(../font/ImpactLabelReversed.ttf); }
@font-face { font-family: royaldelight; src: url(../font/RoyalDelightShad.ttf); }

.linowrite   { font-family: "linowrite" }
.angrybirds  { font-family: "angrybirds" }
.brainflower { font-family: "brainflower" }
.lazysunday  { font-family: "lazysunday" }
.ponymaker   { font-family: "ponymaker" }
.impactlabel { font-family: "impactlabel" }
.royaldelight{ font-family: "royaldelight" }

.xxlarge { font-size: 3em; padding:0px 0px 30px 0px; line-height: 60px }
.xlarge  { font-size: 2.5em; }
.large   { font-size: 1.8em; }


a {
  color:white;
  text-decoration:none;
}

p a { border-bottom:1px solid #eee; }

p a:hover {
  border-bottom:1px solid #f60;
}

h1 a { border: 0;}

body {
  margin:0px;
  font-family:sans-serif;
}

div.section {
  padding:28px;
}

div#welcome h1 {
  margin:45px 0px 20px 0px;
  font-size: 6em;
}

div.nav {
  position:fixed;
  top:0;
  background-color:#000;
  width:100%;
}

div.nav ul {
  list-style-type:none;
  width:1000px;
  margin:0 auto 0 auto;
}

div.nav ul li {
  float:left;
  width:200px;
}

div.nav ul li a {
  display:block;
  padding:10px 10px;
  text-decoration:none;
  text-align:center;
  font-family:"Trebuchet MS";
  font-size:1.2em;
  color:white;
  font-weight:normal;
}

div.wrap {
  width: 800px;
  margin: 0 auto 0 auto;
}

div.nav ul li a:hover, div.nav ul li.active {
  background-color:#2F84C4;
}

div.white { 
  background-color: #FFFFFF !important;
}

div.green { 
  background-color: #B9FF75 !important;
  border-top: 10px solid #339922;
  color:black;
}

div.blue  { 
  background-color: #184481 !important;
  border-top: 10px solid #203270;
  color:white;
}

div.red   { 
  background-color: #D01E1E !important; 
  border-top:10px solid #900; 
}

div.dark {
  background-color: #111 !important;
  border-top: 10px solid #222;
  color:white;
}

div.center {
  margin:0 auto 0 auto;
}

p.center {
  text-align:center;
}

p.large-header {
  text-align:center;
  font-family: "linowrite", "Ubuntu Mono", sans-serif;
  font-size:5.2em;
  padding:0;
  margin:0;
}

h1 {
  font-weight:normal;
  text-align:center;
  font-size:4em;
  font-family:"linowrite";
  margin:0px 0px 20px 0px;
}

h3 {
  clear:both;
  margin:5px;
  font-weight: normal;
  font-size:1.5em;
  padding-top:20px;
  text-align: center;
}

p {
  font-family: "Helvetica", sans-serif;
  font-size:1.2em;
  margin:5px;
  line-height:32px;
}

div.narrow {
  width:500px;
}

div.box p { margin-right:25px }

p.white  { color:white; }
p.bigger { font-size:1.4em; line-height:32px; }

table.details {
  font-family:monospace;
  font-size: 1.2em;
  border-collapse:collapse;
  background-color:#698CE3;
  color:black;
  padding:10px;
  width: 100%;
  border-radius:6px;
  margin-bottom:30px;
}

table.details tr {
  border-bottom:1px solid #739ED6;
}

table.details td {
  padding:15px;

}

table.details td:nth-child(odd) {
  font-weight:normal;
}

table.details td:nth-child(even) {
  text-align:right;
}

table.details tr:last-child {
  border:0;
}

div.box {
  float:left;
  width:50%;
}

.clear {
  clear:both;
}

pre {
  padding:20px;
  background-color:#333;
  color:white;
  border-radius:4px;
  font-size:1.4em;
  margin:0;
  font-family:monospace;
}

ul.skills {
  list-style-type:none;
  padding:0;
}

ul.skills li {
  float:left;
  background-color:#000;
  color:white;
  padding:10px 15px;
  border-radius:4px;
  margin:5px;
  font-size:1.4em;
}

table.contact {
  border-collapse:collapse;
  width:92%;
  font-family:"Trebuchet MS";
  color:white;
  background-color:#D74141;
  border-radius:4px;
}

table.contact tr {
  border-bottom: 1px solid #E44C4C;
  height:70px;
}

table.contact tr:last-child {
  border:0;
}

table.contact td {
  padding:10px 30px;
}

table.contact tr td:last-child {
  line-height:24px;
  text-align:right;
  font-family:monospace;
}

div.project {
  background-color:#7A93CA;
  padding:15px;
  border-radius:3px;
  margin-bottom:10px;
  color:black;
}

div#projects h2 {
  font-weight: normal;
  font-size:2em;
  text-align: center;
  margin-left:5px;
  margin-bottom:10px;
  font-family:"linowrite";
}

div#projects p {

}

div#projects div.sub-section {
  background-color: #496F9C;
  
}